@{
    ViewData["Title"] = "Student Dashboard";
}
@model List<Book>


@if (!Model.Any())
{
    <div class="text-center">
        <h1 class="display-4">No Books Available</h1>
    </div>
}
else
{
    <div class="d-flex align-content-center">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (Book book in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@book.BookTitle</h5>
                                    <!-- Product price-->
                                    <h6>@book.BookAuthor</h6>
                                    <div class="small mb-1">ISBN: @book.BookIsbn</div>
                                    @if (book.BookFormat.Equals("Physical"))
                                    {
                                        <div class="small mb-1">Copies: @book.BookQuantity</div>  
                                    }
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                @if (book.BookFormat.Equals("Digital"))
                                {
                                    <div class="text-center"><a class="btn btn-outline-info mt-auto m-3">Download</a></div>
                                }else if(book.BookQuantity<=0){
                                    <div class="text-center"><a class="btn btn-outline-warning mt-auto m-3">Reserve</a></div>
                                }else
                                {
                                    <div class="text-center"><a class="btn btn-outline-success mt-auto m-3" asp-area="" asp-controller="StudentDashboard" asp-action="AddStudentBook" asp-route-userId="4000" asp-route-bookIsbn="@book.BookIsbn">Borrow</a></div>
                                }
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto m-3" asp-area="" asp-controller="StudentDashboard" asp-action="BookDetails" asp-route-bookIsbn="@book.BookIsbn">View Book</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}



