@{
    ViewData["Title"] = "Student Book";
}
@model List<StudentBook>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="StudentDashboard" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="StudentDashboard" asp-action="StudentBooks">Student Books</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Isbn</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Quantity</th>
            <th scope="col">Publisher</th>
            <th scope="col">Genre</th>
            <th scope="col">Language</th>
            <th scope="col">Format</th>
            <th scope="col">Description</th>
            <th scope="col">Edition</th>
            <th scope="col">Pages</th>
            <th scope="col">Publication Date</th>
            <th scope="col">Starting Date</th>
            <th scope="col">Due Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var StudentBook in Model)
        {

            <tr>
                <th scope="row">@StudentBook.BookIsbn</th>
                <td>@StudentBook.BookTitle</td>
                <td>@StudentBook.BookAuthor</td>
                <td>@StudentBook.BookQuantity</td>
                <td>@StudentBook.BookPublisher</td>
                <td>@StudentBook.BookGenre</td>
                <td>@StudentBook.BookLanguage</td>
                <td>@StudentBook.BookFormat</td>
                <td>@StudentBook.BookDescription</td>
                <td>@StudentBook.BookEdition</td>
                <td>@StudentBook.BookPages</td>
                <td>@StudentBook.BookPublicationDate</td>
                <td>@StudentBook.BookStartingDate</td>
                <td>@StudentBook.BookDueDate</td>
            </tr>

        }
    </tbody>
</table>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - iLib - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

